# copy this file to .env.prod & change DB_PASSWORD

DB_USER=postgres
DB_PASSWORD=CHANGE_ME_TO_STRONG_PASSWORD
DB_NAME=atm-sim
DB_PORT=5432
BACKEND_PORT=3000
RUST_LOG=info
RUST_BACKTRACE=1

BACKEND_ADDRESS="http://127.0.0.1:3000"